.flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.container {
    height: 80vh;
    width: 80vw;
    max-width: 80vw;
    max-height: 80vh;

    align-items: center;
    justify-content: center;
    text-align: center;
}